.slider-wrapper
    .slides-container
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__shadow
            .slider-item__text
                h2.slider-item__text-title='Оксана і Іван'
                span.slider-item__text-subtitle='Запрошують вас на весілля'
                small.slider-item__text-date='01.12.2020'
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__shadow
            .slider-item__text
                h2.slider-item__text-title='Оксана і Іван'
                span.slider-item__text-subtitle='Запрошують вас на весілля'
                small.slider-item__text-date='01.12.2020'
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__shadow
            .slider-item__text
                h2.slider-item__text-title='Оксана і Іван'
                span.slider-item__text-subtitle='Запрошують вас на весілля'
                small.slider-item__text-date='01.12.2020'
        .slider-item
            .slider-item__image
                img.img-slider(src='img/wedding.jpg')
            .slider-item__shadow
            .slider-item__text
                h2.slider-item__text-title='Оксана і Іван'
                span.slider-item__text-subtitle='Запрошують вас на весілля'
                small.slider-item__text-date='01.12.2020'