.story-wrapper
    .story-title
        h4='Наша Історія'
    .story
        .story-item.wow.fadeInLeft
            .story-item__title="Перше знайомство"
            .story-item__text
                | Але щоб ви зрозуміли, звідки виникає це хибне уявлення людей,
                | цуратись насолоди і вихваляти страждання, я розкрию перед вами всю
            .story-item__decoration
                span.decoration-line
                i.fas.fa-heart.timer-icon
        .story-item.wow.fadeInLeft
            .story-item__title="Перше знайомство"
            .story-item__text
                | Але щоб ви зрозуміли, звідки виникає це хибне уявлення людей,
                | цуратись насолоди і вихваляти страждання, я розкрию перед вами всю
            .story-item__decoration
                span.decoration-line
                i.fas.fa-heart.timer-icon
        .story-item.wow.fadeInLeft
            .story-item__title="Перше знайомство"
            .story-item__text
                | Але щоб ви зрозуміли, звідки виникає це хибне уявлення людей,
                | цуратись насолоди і вихваляти страждання, я розкрию перед вами всю
            .story-item__decoration
                span.decoration-line
                i.fas.fa-heart.timer-icon
        .story-item.wow.fadeInLeft
            .story-item__title="Перше знайомство"
            .story-item__text
                | Але щоб ви зрозуміли, звідки виникає це хибне уявлення людей,
                | цуратись насолоди і вихваляти страждання, я розкрию перед вами всю