.ivent-timer
    .ivent-timer-text-wrapper
        .ivent-timer-text
            i.fas.fa-heart.timer-icon
            .ivent-timer-text__title
                span='Залишилось часу до'
                span='Весілля'
    .ivent-timer-items-wrapper
        .ivent-timer-item-inner
            .ivent-timer-item
                span.ivent-timer-item__count='119'
                span.ivent-timer-item__title='Днів'
        .ivent-timer-item-inner
            .ivent-timer-item
                span.ivent-timer-item__count='119'
                span.ivent-timer-item__title='Днів'
        .ivent-timer-item-inner
            .ivent-timer-item
                span.ivent-timer-item__count='119'
                span.ivent-timer-item__title='Днів'
        .ivent-timer-item-inner
            .ivent-timer-item
                span.ivent-timer-item__count='119'
                span.ivent-timer-item__title='Днів'